
main{
    display: table;
}
h1{
    text-align: center;
    color: black; 
}
header{
    vertical-align: middle;
    height: 150px;
    width:80%;
    margin : 40px auto;
}
ul{
    list-style: none;
    margin-left: 15%;
}
li{
    width: 30%;
    display: inline-block;
}
a{
    text-decoration: none;
    border: 1px solid;
    border-radius: 15px;
    color: black;
    padding: 5px;

}
section{
    margin-top: 300px; 
}
article{
    background-color: lightgray;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 15px;
    float: left;  
}
article img{
    float: left;
}
p{
    text-align: justify;
    margin: 0;
}
header div{
    text-align: center;
    width: 100%;
}
article img {
    margin:6px;
    width: 50px;
    height: 50px;
}
@media screen and (min-width : 700px) {
    article:nth-child(3){
       text-align: center;
    }
}
#nothamburger a{
    background-color: lightgray;
}
#iconphone{
    position: absolute;
    top:0px;
    left:0px;
}
