@font-face {
    font-family: "nunito";
    src: url(../font/Nunito-VariableFont_wght.ttf);
}
body{

    font-family: "nunito";
}
p{
    margin: 0;
}
ul{
    list-style: none;
    margin-left: 15%;
}
li{
    width: 30%;
    display: inline-block;
}
article{
    display: inline-block;
    margin: 0 3%;
}
article p {
    text-align: center;
}
article img{
    /* vertical-align: middle; */
}
a{
    text-decoration: none;
}
.jour{
    font-weight: 900;
}
em, .pollen{
    color: rgb(157, 155, 155);
}

#infos{
    float: right;
}
#temperature{
    font-weight: bold;
    font-size: 40px;
}
#bandeau{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
}
#fahrenheit{
    font-size: small;
    vertical-align: top;
}
#bandeau img{
    width: 74px;
    float: left;
}
#bandeau p{
    float: left;
}
@media screen and (max-width:1200px){
    #semaine article{
        display: inline-block;
        width: 100%;
        margin: auto;
    }
    #semaine article p {
        display: inline-block;
        width: 25%;
        height: 100%;
    }
}

@media screen and (min-width:1200px){
    hr{
        display: none;
    }
    section article p{
        margin-right:6%
    }
    article img {
        width: 74px;

        margin: auto;
    }
    .jour{
        width: 15px;
    }
    #bandeau{
        display: inline-block;
        margin-right: 300px;
    }
    #semaine{
        text-align: center;
        width: 85%;
        margin: auto;
    }
    #semaine article:last-child{
        margin-right:  0;
    }
}